.portfolio {
    background: #f8f8f8;
    padding-top: 20px; 
    overflow: hidden;
}
.portfolio-title {
    text-align: center;
    font-size: 35px;
    
}

 .show-project {
    font-weight: normal
}

 .portfolio-list {
    list-style: none;
    text-align: center;
    margin: 20px 0
}

 .portfolio-item {
    display: inline-block;
    width: 100px;
    padding: 10px
}

 .portfolio-item.active {
    background: #eb5424;
    color: #fff
}

.project-container {
    width: 23%;
    float: left;
    font-size: 0;
    position: relative;
    margin: 8px 8px ;
}

.projects{
    
    width: 100%;
    height: 250px ;
    border: 3px solid #cf4f28;
    border-radius: 10%;
  
}
.showimage{
    text-decoration: none;
    color: black;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(235, 82, 36, 0.541); 
    width: 102%;
    border-radius: 10%;
    opacity: 0;
}
 .show-project{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #eb5424;
    border-radius: 50%;
}

.project-container:hover .overlay {
    opacity: 1
}

@media (max-width:850px) { 

    .project-container {
        width: 30%;
       
    }
}
@media (max-width:650px) { 

    .project-container {
        width: 45%;
       
    }
}
@media (max-width:575px) {
    .portfolio .portfolio-list .portfolio-item {
        display: block;
        margin: auto
    }
    
   
}
@media (max-width:470px) { 

    .project-container {
        width: 80%;
       margin-left: 10%;
    }
}
