.home {
    height: 500px;
     background: url('../../images/home-bg.jpg'); 
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
   
}

 .home-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

 .home-title {
    font-size: 60px;
    font-weight: bold;
    color: #5e5e5e;
}

 .home-info {
    font-size: 35px;
    color: #eb5424;
    margin-bottom: 20px;
}

 .home-desc {
    font-size: 20px;
    line-height: 1.5;
    color: #888;
    margin-bottom: 20px
}

.home-desc span {
    color: #000
}

.home-btn {
    background: #eb5424;  
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color:white ;  
    border-radius: 40%;
    border: 0px;
}
.home-btn:hover {
    background: #fff;
    color: #eb5424 ;
}
.home-btn:active {
    transform: scale(.8);
  transition-duration: 0.5s;
}

@media (max-width:820px) {

    .home .home-information .home-title {
        font-size: 40px;
        padding-top: 80px;
    }

 }
@media (max-width:768px) {
    .home .home-information .home-title {
        font-size: 40px;
        padding-top: 80px;
    }
    
    .home .home-information .home-info {
        font-size: 20px
    }
    
    .home .home-information .home-desc {
        font-size: 15px
    }
}

@media (max-width:575px) {
    .home .home-information .home-title {
        font-size: 30px;
    }
    .home .home-information .home-desc {
        width: 300px;
    }
}
